body {
  margin: 0;
  min-height: 100vh;
    background-color: #0c492f;

  background-image: url("static/images/FullLogo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sectionone {
  height: 20rem;
  display: flex;
  align-items: center;
    background: linear-gradient(to right, rgba(8, 89, 12, 0.91), #71d0c4);
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin-top: 10px;
}
#contactus{
    text-align: center;
    color: white;
    font-size: 30px;


}
img {
    width: 350px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin: 60px 20px;
}
#sectiontwo {
    height: 20rem;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, rgba(12, 89, 8, 0.91), #71d0c4);
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    border: 1px solid #ccc;
}
footer {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
}