body {
  background-image: url('../images/stars.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#sectionone {
  height: 20rem;
  display: block;
  align-items: center;
    background: linear-gradient(to bottom right, #00d0ff, #327db2);
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-top: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
#accordion {
    width: 65%;
    margin: 0 auto;
    background: rgba(245, 245, 245, 0.81);
}

img {
    width: 350px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin: 60px 20px;
    border: 1px solid #ccc;
}
#sectiontwo {
    height: 25rem;
    display: flex;
    align-items: center;
 background-image: url('../images/stars.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
footer {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
}

.contact-section{
    display: block;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: rgba(51, 51, 51, 0.34);
    color: white;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.contact-section btn{
    margin-right: 10px;
    margin-bottom: 10px;
}
h1 {
    place-content: center;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.formClass{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin-top: 10px;
}
#secone {

}
.accordion-button {
  background-color: #156365;
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: #1a66bc;
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
}
