html, body {
    background-color: #0a314f;
    padding:0;
    margin: 0;
}
#contact {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    color:white;
    background-color: #063424;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
}
#contact form {
  display: flex;
  flex-direction: column;
    max-width: 25rem;
    margin: 0 auto;
}

#contact input,
#contact textarea,
#contact button {
  margin-bottom: 12px;
}
