{%  extends 'base.html' %}
{% load static %}

{%  block title %}
    Full Stack Development L.L.C.
{%  endblock %}

{%  block css_files %}
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
</link>
{%  endblock %}

{%  block content %}
<section id='welcome'>
<h1>Welcome to Full Stack Development L.L.C.</h1>
<p>This is a simple website developed by Full Stack Development L.L.C..</p>
<img src="{% static 'images/spidey.jpg' %}" alt="Logo">

</section>

<section id='services'>
<h2>Our Services</h2>
<ul>
    <li>Web Development</li>
    <li>Mobile App Development</li>
    <li>Data Analysis</li>
    <li>E-commerce Solutions</li>
    <li>Artificial Intelligence</li>
    <li>Cybersecurity</li>

</ul>
</section>

<section id='about'>
        <h2>About Us</h2> <img src="{% static 'images/computer_bank.jpg' %}" alt="About Us">
        <div class="container">
        <p>The company is a full-service digital solutions provider offering scalable,
            innovative technology for businesses of all sizes. It focuses on **web** and **mobile app
            development**, building high-performance, user-friendly platforms.
            Through **data analysis**, it turns data into actionable insights.
            Its **e-commerce solutions** support secure, seamless online experiences.
            By using **artificial intelligence**, it improves automation and personalization,
            while **cybersecurity** services protect systems, applications, and data from evolving threats.

</p></div>
    </section>



{% endblock %}
