{%  extends 'base.html' %}
{% load static %}

{%  block title %}
    Full Stack Development L.L.C.
{%  endblock %}

{%  block css_files %}
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
</link>
{%  endblock %}

{%  block content %}
<section id='welcome'>
<h1>Welcome to Full Stack Development L.L.C.</h1>
<p>This is a simple website developed using HTML, CSS, and Bootstrap.
    my goal is to create web applications for the community.</p>
<img src="{% static 'images/spidey.jpg' %}" alt="Logo">

</section>

<section id='services'>
<h2>Our Services</h2>
<ul>
    <li>Web Development</li>
    <li>Mobile App Development</li>
    <li>Data Analysis</li>
    <li>E-commerce Solutions</li>
    <li>Artificial Intelligence</li>
    <li>Cybersecurity</li>

</ul>
</section>

<section id='about'>
        <h2>About Us</h2> <img src="{% static 'images/computer_bank.jpg' %}" alt="About Us">
        <p>The company operates as a full-service digital solutions provider, delivering innovative and scalable technology services to businesses of all sizes. It specializes in **web development** and **mobile app development**, creating user-friendly, high-performance platforms tailored to client needs. Through **data analysis**, the company helps organizations transform raw data into actionable insights for smarter decision-making. Its **e-commerce solutions** enable secure, seamless online transactions and optimized customer experiences. By integrating **artificial intelligence**, the company enhances automation, personalization, and efficiency. Robust **cybersecurity** services ensure systems, applications, and data remain protected against evolving digital threats, ensuring reliability and trust.
</p>
    </section>



{% endblock %}
